NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_BACKEND_URL=https://api.myorderapp.dev
NEXT_PUBLIC_APP_URL=https://www.myorderapp.dev
NEXT_PUBLIC_MARKETING_URL=https://get.myorderapp.com
NEXT_PUBLIC_TERMS_URL=https://get.myorderapp.com/terms/
NEXT_PUBLIC_PRIVACY_URL=https://get.myorderapp.com/privacy/
NEXT_PUBLIC_GDPR_URL=https://get.myorderapp.com/gdpr/
NEXT_PUBLIC_FAQ_URL=https://get.myorderapp.com/faq/

NEXT_PUBLIC_COMING_SOON=false
NEXT_PUBLIC_MAINTENANCE=false
NEXT_PUBLIC_IS_BETA=true

NEXT_PUBLIC_NAME=MyOrderApp for Sellers
NEXT_PUBLIC_SHORT_NAME=MyOrderApp
NEXT_PUBLIC_ABBREVIATION=MOA
NEXT_PUBLIC_DESCRIPTION=Welcome to MyOrderApp—a seamless platform for Square sellers to offer mobile ordering. Sign in to access your dashboard or start your journey with us.

NEXT_PUBLIC_ROBOTS_ALLOW=/login, /register, /reset-password
NEXT_PUBLIC_ROBOTS_DISALLOW=/setup/*, /coming-soon, /maintenance

NEXT_PUBLIC_METADATA_ROBOTS=index, follow
NEXT_PUBLIC_METADATA_COLOR_SCHEME=light dark
NEXT_PUBLIC_METADATA_VIEWPORT=width=device-width, initial-scale=1.0, viewport-fit=cover

NEXT_PUBLIC_BACKEND_API_KEY=
NEXT_PUBLIC_ENV=development

NEXT_PUBLIC_APP_CONFIG_DEFAULT_FONT_FAMILY=Roboto

#
# Theme
#

NEXT_PUBLIC_THEME_TYPOGRAPHY_FONT_FAMILY_CSS_STRING=-apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen-Sans, Ubuntu, Cantarell, Roboto, 'Helvetica Neue', sans-serif

NEXT_PUBLIC_THEME_PALETTE_LIGHT_PRIMARY_MAIN="#1976d2"
NEXT_PUBLIC_THEME_PALETTE_LIGHT_PRIMARY_DARK="#1565c0"
NEXT_PUBLIC_THEME_PALETTE_LIGHT_PRIMARY_LIGHT="#42a5f5"

NEXT_PUBLIC_THEME_PALETTE_LIGHT_SECONDARY_MAIN="#1e1e1e"
NEXT_PUBLIC_THEME_PALETTE_LIGHT_SECONDARY_DARK="#1b1b1b"
NEXT_PUBLIC_THEME_PALETTE_LIGHT_SECONDARY_LIGHT="#6d6d6d"

NEXT_PUBLIC_THEME_PALETTE_DARK_PRIMARY_MAIN="#90caf9"
NEXT_PUBLIC_THEME_PALETTE_DARK_PRIMARY_DARK="#5e92f3"
NEXT_PUBLIC_THEME_PALETTE_DARK_PRIMARY_LIGHT="#9be7ff"

NEXT_PUBLIC_THEME_PALETTE_DARK_SECONDARY_MAIN="#e0e0e0"
NEXT_PUBLIC_THEME_PALETTE_DARK_SECONDARY_DARK="#aeaeae"
NEXT_PUBLIC_THEME_PALETTE_DARK_SECONDARY_LIGHT="#ffffff"

#
# Google
#

NEXT_PUBLIC_GOOGLE_MEASUREMENT_ID=

#
# Square
#

NEXT_PUBLIC_SQUARE_SCOPE=
NEXT_PUBLIC_SQUARE_BASE_URL=
NEXT_PUBLIC_SQUARE_CLIENT_ID=
# NEXT_PUBLIC_SQUARE_TEST_CODE=moa_square_test_code

#
# Stripe
#

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=

NEXT_PUBLIC_STRIPE_PRICE_ID_TIER_0_USD=
NEXT_PUBLIC_STRIPE_PRICE_ID_TIER_1_USD=
NEXT_PUBLIC_STRIPE_PRICE_ID_TIER_2_USD=

NEXT_PUBLIC_STRIPE_PRICE_TIER_0_USD=0
NEXT_PUBLIC_STRIPE_PRICE_TIER_0_EUR=0
NEXT_PUBLIC_STRIPE_PRICE_TIER_0_GBP=0
NEXT_PUBLIC_STRIPE_PRICE_TIER_0_JPY=0
NEXT_PUBLIC_STRIPE_PRICE_TIER_0_CAD=0
NEXT_PUBLIC_STRIPE_PRICE_TIER_0_AUD=0

NEXT_PUBLIC_STRIPE_PRICE_TIER_1_USD=29
NEXT_PUBLIC_STRIPE_PRICE_TIER_1_EUR=29
NEXT_PUBLIC_STRIPE_PRICE_TIER_1_GBP=19
NEXT_PUBLIC_STRIPE_PRICE_TIER_1_JPY=3200
NEXT_PUBLIC_STRIPE_PRICE_TIER_1_CAD=29
NEXT_PUBLIC_STRIPE_PRICE_TIER_1_AUD=29

NEXT_PUBLIC_STRIPE_PRICE_TIER_2_USD=99
NEXT_PUBLIC_STRIPE_PRICE_TIER_2_EUR=99
NEXT_PUBLIC_STRIPE_PRICE_TIER_2_GBP=79
NEXT_PUBLIC_STRIPE_PRICE_TIER_2_JPY=11800
NEXT_PUBLIC_STRIPE_PRICE_TIER_2_CAD=99
NEXT_PUBLIC_STRIPE_PRICE_TIER_2_AUD=99

#
# Private
#

AUTH_JWT_TOKEN_EXPIRES_IN=55m
AUTH_REFRESH_TOKEN_EXPIRES_IN=7d

NEXTAUTH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

APPLE_CLIENT_ID=
APPLE_CLIENT_SECRET=